.settings/
.project
**/target/
.classpath
bin/
build.org.lunifera.dependencies.p2.kepler.latest.log.properties
build.org.lunifera.dependencies.p2.luna.latest.log.properties
build.org.lunifera.dependencies.p2.mars.latest.log.properties
.DS_Store
/lib
.gitignore